/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  /*referenced during whole proj, primary is used in .course-details h4*/
  --primary: #b41212;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  /*for the navbar*/
  background: #fff;
}
header .container {
  /*for the navbar*/
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  /*used in App.js*/
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.popup {
  /* for Nourhan's pop up message */
  height: 200px;
  width: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  right: 25%;
}

.popup-contract {
  height: 200px;
  width: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 25%;
  margin: 0 auto;
}

.popup-header {
  /* for Nourhan's pop up message */
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 15px;
  border-bottom: 2px solid black;
}

.main {
  /* for Nourhan's pop up message */
  background-color: rgba(195, 162, 162, 0.408);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.message {
  /* for Nourhan's pop up message */
  text-align: center;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.course-details {
  /*for courseDetails.js*/
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.course-details h4 {
  /*for courseDetails.js*/
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  /*for courseDetails.js*/
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span {
  /*for courseDetails.js*/
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
