/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  /*referenced during whole proj, primary is used in .course-details h4*/
  --primary: #c00418;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  /*for the navbar*/
  background: #fff;
}
header .container {
  /*for the navbar*/
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  /*used in App.js AND AFFECTS THE NEW NAVBAR*/
  max-width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.popup {
  /* for Nourhan's pop up message */
  height: 200px;
  width: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  right: 25%;
}

.popup-contract {
  height: 200px;
  width: 90%;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 40px;
  margin: 0 auto;
}

.popup-header {
  /* for Nourhan's pop up message */
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 15px;
  border-bottom: 2px solid black;
}

.main {
  /* for Nourhan's pop up message */
  background-color: rgba(195, 162, 162, 0.408);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.main-contract {
  /* for Mariam's pop up message */
  background-color: rgba(132, 32, 32, 0.953);
  height: 80%;
  width: 80%;
  position: absolute;
  top: 150px;
  left: 100px;
}

.message {
  /* for Nourhan's pop up message */
  text-align: center;
}

/* homepage */
.home {
  display: flex;
}
.course-details {
  /*for courseDetails.js*/
  display: flex;
  flex: 1;
  background: #fff;
  border-radius: 4px;
  width: 785px;
  margin: 20px 20px 20px 2%;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.changePassword {
  display: block;
  flex: 1;
  background: #fff;
  border-radius: 11px;
  width: 1050px;
  margin: 200px 200px 200px 2%;
  padding: 100px;
  position: absolute;
  box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.05);
  align-items: relative;
  justify-content: center;
}

.forms {
  display: block;
  flex: 1;
  background: #fff;
  border-radius: 11px;
  width: 1050px;
  margin: 200px 200px 200px 2%;
  padding: 100px;
  position: absolute;
  box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.05);
  align-items: relative;
  justify-content: center;
}

.course-details-instructor {
  /*for courseDetails.js*/
  display: flex;
  flex: 1;
  background: #fff;
  border-radius: 4px;
  width:640px;
  margin: 20px 20px 20px 2%;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.course-details-instructor h4 {
  /*for courseDetails.js*/
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details-instructor p {
  /*for courseDetails.js*/
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details-instructor span {
  /*for courseDetails.js*/
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.instructor-buttons{
  display: flex;
  flex: 1;
  margin-top: 2%
}

.course-details h4 {
  /*for courseDetails.js*/
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  /*for courseDetails.js*/
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span {
  /*for courseDetails.js*/
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  position: relative;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 90%);
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.myDiv {
  border: 5px outset red;
  background-color: rgba(222, 231, 234, 0.625);
  text-align: center;
  width: 30%;
}
.myDiv2 {
  background-color: rgba(255, 255, 255, 0.625);
  text-align: left;
  left: 200;
  width: 40%;
}

.star-rating {
  /*border:solid 1px #ccc;*/
  display: flex;
  flex-direction: row-reverse;
  font-size: 3em;
  justify-content: space-around;
  padding: 0.2em;
  text-align: center;
  width: 5em;
  height: 2em;
}

.star-rating2 {
  /*border:solid 1px #ccc;*/
  display: flex;
  flex-direction: row-reverse;
  font-size: 3em;
  justify-content: space-around;
  padding: 0.2em;
  text-align: center;
  width: 5em;
  height: 2em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}

.courses {
  left: 1%;
  position: absolute;
  top: 30%;
}

.courses-trainee {
  left: 0;
  position: absolute;
  top: 10%;
}

.create {
  top: 15%;
  position: absolute;
  left: 1%;
}

.navlink {
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.navlink:hover {
  color: var(--bs-navbar-hover-color);
}

.navlink-profile {
  color: rgb(208, 208, 208);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  margin-right: 2%
}

.navlink-profile:hover {
  color: var(--bs-navbar-hover-color);
}

.navlink-world {
  color: rgb(208, 208, 208);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  margin-right: 1%;
}

.navlink-world:hover {
  color: var(--bs-navbar-hover-color);
}

.login-buttons{
  margin-right: 20%;
  color: rgb(208, 208, 208);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
}

.login-buttons:hover{
  color: var(--bs-navbar-hover-color);
}

.login-buttons-navbar{
  display:flex;
  flex: 1;
  margin-right: 18%;
  color: rgb(208, 208, 208);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
}

.login-buttons-navbar:hover{
  color: var(--bs-navbar-hover-color);
}


.navlink-profile-instructor {
  color: rgb(208, 208, 208);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  margin-right: 2%
}

.navlink-profile-instructor:hover {
  color: var(--bs-navbar-hover-color);
}

.money:hover{
  color: var(--bs-navbar-hover-color);
}

.create-course {
  top: 20%;
  position: absolute;
  left: 73%;
}

.checkboxes input {
  margin: 0px 0px 0px 0px;
}

.checkboxes label {
  margin: 0px 25px 0px 3px;
}

.checkboxes {
  margin-left: 3%;
  margin-top: 2%;
}

.divider {
  position: relative;
  left: 4.5%;
  margin-top: 2.5%;
  margin-bottom: 2%;
  border-left: 1px solid rgb(151, 150, 150);
}

.filter {
  height: 40px;
  right: 1%;
  top: 20%;
}

.filter-clear {
  height: 40px;
  left: 1%;
  top: 20%;
}

#payment-form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
#submit {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

#submit:hover {
  filter: contrast(115%);
}

#submit:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #payment-form {
    width: 80vw;
    min-width: initial;
  }
}

.root {
  display: flex;
  align-items: center;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.course-purchase {
  position: absolute;
  top: 15%;
  left: 1%;
}

.login {
  height: 35px;
  left: 99%;
  text-align: center;
}

.login:hover{
  color: var(--bs-navbar-hover-color);
}

.signup:hover{
  color: var(--bs-navbar-hover-color);
}

.signup{
  height: 35px;
  left: 95%;
  text-align: center;
}

.search {
  left: 5%;
}

.guest-home {
  display: flex;
  flex: 1
}

.courses-element {
  margin-top: 3%;
  position: relative;
  left: 6%
}
.search-navbar{
  display: flex;
  flex: 1
}

.create{
  left: 43%;
  margin-top: 0.2%
}

.clear-search-navbar{
  margin-left: 122%;
  margin-top: 0.3%;
}

.guest-home{
  display: flex
}

.courses-element{
  margin-top: 2%;
  margin-left: 2%
}

.popular {
  margin-left: 2%;
  width: 500px
}

.clear-search {
  left: 24%;
  margin-top: 1.9%;
  height: 35px;
}

.sort-popular{
  left: 61%;
  margin-top: 1.9%;
  height: 35px
}

.sort-length{
  left: 62%;
  margin-top: 1.9%;
  height: 35px
}

.course-info{
  margin-left: 2%
}

.course-video {
  margin-top: 1%;
}

#navbarScrollingDown {
  height: 50px;
  overflow: auto;
}

.money{
  right: 4%;
  color:rgb(208, 208, 208);
}

.money-button{
  margin-right: 0.5%;
  background-color: transparent;
  border-style: none;
}

.courses-element-instructor{
  margin-top: 3%;
  left: 2%
}

.courses-element-instructor-search{
  margin-top: 2%;
  left: 2%
}

.home-search{
  display:flex;
  flex:1
}

.create-search{
  margin-left: 2%;

}

.create-instructor{
  margin-left: 9%;

}

.clear-search-instructor{
  margin-left: 1%;
}

.clear-search-instructor-nav{
  margin-left: 6%;

}

.clear-search-button{
  height: 35px;
}

.create-course{
  left: 25%;
  top: 15%
}

.details-buttons{
  left: 275px;
  position: relative
}

.mydetails-buttons{
  left: 275px;
  position: relative
}
.mycourses-element{
  margin-top: 2%;
  margin-left: 2%
}
